#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background: blue; */
}

.card{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  
  background-color:grey;
  
}
.card-img{
  background-color:white;
  border: 2px solid red;

}