#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card{
  width: 100px;
  padding: 10rem;
  background-color: aqua;
  border: 2px solid red;
}
.card-img{
  background-color: blue;
  border: 2px solid red;

}